/**
 *
 * @name Base
 * @description
 * All your base belong to us. Any tag specific customizations should go here.
 *
 */

body
  background: linear-gradient(bottom left, white, red, blue, black)
  color: #333