!!!
html
  head
    title Bootstrap Dangerzone

    link(
      rel = "stylesheet"
      href = "style/vendor.css"
    )

    link(
      rel = "stylesheet"
      href = "style/app.css"
    )

  body
    | I love pink

    script(
      src = 'script/vendor.js'
    )

    script(
      src = 'script/app.js'
    )